<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li><%= nav_link_to "Home", "home", home_path, "current_page" %></li>
      <li><%= nav_link_to "About", "about_us", about_us_path, "current_page" %>
        <ul>
          <li><%= nav_link_to "Contacts Us", "contact_us", contact_us_path, "current_page" %></li>
        </ul>
      </li>
      <li><%= nav_link_to "Calendar", "calendar", calendar_path, "current_page" %></li>
      <li><%= nav_link_to "Articles", "articles", articles_path, "current_page" %>
          <ul>
            <li><%= nav_link_to "Newsletter", "newsletter", newsletter_path, "current_page" %></li>
          </ul>
      </li>
      <li><%= nav_link_to "Blog", "bolg", blog_path, "current_page" %></li>
      <li><%= nav_link_to "Login", "login", login_path, "current_page" %></li>
    </ul>
  </div>
</nav><!-- end of top nav -->